<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.t4bd">

    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> 
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Consultas necesarias para componentes externos -->
    <queries>
        <provider android:authorities="com.facebook.katana.provider.PlatformProvider" />
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

    <application
        android:usesCleartextTraffic="true"
        android:label="t4bd"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Configuración de la actividad principal -->
        <activity android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Intent-filter principal para el lanzamiento de la aplicación -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Esquema de redirección para WebView (PayPal o similar) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="myapp" />
            </intent-filter>
        </activity>

        <!-- Meta-datos para la integración con Facebook -->
        <meta-data 
            android:name="com.facebook.sdk.ApplicationId" 
            android:value="@string/facebook_app_id" />
        <meta-data 
            android:name="com.facebook.sdk.ClientToken" 
            android:value="@string/facebook_client_token" />

        <!-- Meta-datos para Google Maps -->
        <meta-data 
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAdE_twpFsAzkn1meALINhHiwvSOoNf2YM" />

        <!-- Meta-datos para el motor de Flutter -->
        <meta-data 
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Configuración de WebView para Android -->
        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />
    </application>
</manifest>
